In [1]:
import plotly.offline as pyo
import plotly.graph_objs as go
import pandas as pd
import plotly.express as pe

In [2]:
df=pd.read_csv("2018WinterOlympics.csv")

In [3]:
df.head()

   Rank            NOC  Gold  Silver  Bronze  Total
0     1         Norway    14      14      11     39
1     2        Germany    14      10       7     31
2     3         Canada    11       8      10     29
3     4  United States     9       8       6     23
4     5    Netherlands     8       6       6     20

In [4]:
df.shape

(30, 6)

In [6]:
#Simple bar graphs
data=[go.Bar(x=df.NOC,y=df.Total)]
layout=go.Layout(title="Medals")
fig=go.Figure(data=data,layout=layout)
pyo.plot(fig)

'temp-plot.html'

In [11]:
#Nested bar graphs
trace1=go.Bar(x=df.NOC,y=df.Gold,name="Gold",marker={"color":"#FFD700"})
trace2=go.Bar(x=df.NOC,y=df.Silver,name="Silver",marker={"color":"#7f7f7f"})
trace3=go.Bar(x=df.NOC,y=df.Bronze,name="Bronze",marker={"color":"#CD7F32"})
data=[trace1,trace2,trace3]
ayout=go.Layout(title="Medals")
fig=go.Figure(data=data,layout=layout)
pyo.plot(fig)

'temp-plot.html'

In [14]:
#Staked column charts
trace1=go.Bar(x=df.NOC,y=df.Gold,name="Gold",marker={"color":"#FFD700"})
trace2=go.Bar(x=df.NOC,y=df.Silver,name="Silver",marker={"color":"#7f7f7f"})
trace3=go.Bar(x=df.NOC,y=df.Bronze,name="Bronze",marker={"color":"#CD7F32"})
data=[trace1,trace2,trace3]
layout=go.Layout(title="Medals",barmode="stack")
fig=go.Figure(data=data,layout=layout)
pyo.plot(fig)

'temp-plot.html'

In [15]:
df1=pd.read_csv("mocksurvey.csv")

In [16]:
df1.head()

,Unnamed: 0,Strongly Agree,Somewhat Agree,Neutral,Somewhat Disagree,Strongly Disagree
0,Question 1,0.45,0.25,0.10,0.12,0.08
1,Question 2,0.12,0.07,0.48,0.18,0.15
2,Question 3,0.05,0.22,0.19,0.23,0.31

In [18]:
df1=df1.rename(columns={"Unnamed: 0":"Question"})

In [26]:
#Horizontal Bar Chart
data=[go.Bar(y=df1.Question, x=df1[x],name=x, orientation="h") for x in df1.columns[1:]]
layout=go.Layout(title="Rating",barmode="stack")
fig=go.Figure(data=data,layout=layout)
pyo.plot(fig)

'temp-plot.html'