In [17]:
import plotly.graph_objs as go
import plotly.offline as pyo
import pandas as pd

In [7]:
df=pd.read_csv("mpg.csv")

In [8]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [9]:
df.shape

(398, 9)

In [16]:
data=[go.Scatter(x=df.horsepower,y=df.mpg,text=df.name,mode='markers',
                 marker=dict(size=df.weight/200,color=df.cylinders,showscale=True))]
layout=go.Layout(title="Bubble Chart")
fig=go.Figure(data=data,layout=layout)
pyo.plot(fig)

'temp-plot.html'

In [29]:
data=[go.Scatter(x=df.weight,y=df.acceleration,text=df.name,
                mode="markers",marker=dict(size=df.displacement/10,color=df.cylinders,showscale=True
                                           ))]
layout=go.Layout(title="Bubble Chart")
fig=go.Figure(data=data,layout=layout)
pyo.plot(fig)

'temp-plot.html'

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    int64
 8   name          398 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB