In [2]:
import plotly.graph_objs as go
import plotly.offline as pyo
import pandas as pd
import plotly.figure_factory as ff
from plotly import tools

In [3]:
df1=pd.read_csv("2010SantaBarbaraCA.csv")

In [6]:
df1.head()

   LST_DATE      DAY LST_TIME  T_HR_AVG
0  20100601  TUESDAY     0:00      12.7
1  20100601  TUESDAY     1:00      12.7
2  20100601  TUESDAY     2:00      12.3
3  20100601  TUESDAY     3:00      12.5
4  20100601  TUESDAY     4:00      12.7

In [7]:
data=[go.Heatmap(x=df.DAY,y=df.LST_TIME,z=list(df.T_HR_AVG),
                colorscale="Jet")]
layout=go.Layout(title="SB CA temps")
fig=go.Figure(data=data,layout=layout)
pyo.plot(fig)

NameError: name 'df' is not defined

In [8]:
df2=pd.read_csv("2010YumaAZ.csv")
df3=pd.read_csv("2010SitkaAK.csv")

In [9]:
#Subplots
trace1=go.Heatmap(x=df1.DAY,y=df1.LST_TIME,z=df1.T_HR_AVG,
                 colorscale='Jet',zmin=5,zmax=45)
trace2=go.Heatmap(x=df2.DAY,y=df2.LST_TIME,z=df2.T_HR_AVG,
                 colorscale='Jet',zmin=5,zmax=45)
trace3=go.Heatmap(x=df3.DAY,y=df3.LST_TIME,z=df3.T_HR_AVG,
                 colorscale='Jet',zmin=5,zmax=45)
fig=tools.make_subplots(rows=1,cols=3,subplot_titles=[
    "SANTA BARBARA","YumaAZ","SITKA AK"],shared_yaxes=True)
fig['layout'].update(title="Temps for 3 cities")
fig.append_trace(trace1,1,1)
fig.append_trace(trace2,1,2)
fig.append_trace(trace3,1,3)
pyo.plot(fig)

C:\Users\khush\anaconda3\lib\site-packages\plotly\tools.py:461: DeprecationWarning:

plotly.tools.make_subplots is deprecated, please use plotly.subplots.make_subplots instead

'temp-plot.html'

In [24]:
flights=pd.read_csv("flights.csv")

In [25]:
flights.head()

   year     month  passengers
0  1949   January         112
1  1949  February         118
2  1949     March         132
3  1949     April         129
4  1949       May         121

In [26]:
flights.shape

(144, 3)

In [27]:
data=[go.Heatmap(x=flights.year,y=flights.month,z=flights.passengers,colorscale="Jet")]
pyo.plot(data)

'temp-plot.html'