In [1]:
import plotly.offline as pyo
import plotly.graph_objs as go
import pandas as pd
import plotly.express as pe

In [2]:
df=pd.read_csv("mpg.csv")

In [3]:
data=[go.Histogram(x=df.mpg,xbins=dict(start=0,end=50,size=2))]
pyo.plot(data)

'temp-plot.html'

In [4]:
df=pd.read_csv("abalone.csv")

In [5]:
df.head()

,sex,length,diameter,height,whole_weight,shucked_weight,viscera_weight,shell_weight,rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

In [6]:
data=[go.Histogram(x=df.length,xbins=dict(start=0,end=1,size=0.025))]
pyo.plot(data)

'temp-plot.html'

In [7]:
import plotly.figure_factory as ff

In [21]:
import numpy as np

In [28]:
x1=np.random.randn(1000)
x2=np.random.randn(1000)-2
x3=np.random.randn(1000)+2
data=[x1,x2,x3]
group_labels=["x1","x2","x3"]
fig=ff.create_distplot(data,group_labels,bin_size=[0.2,0.1,0.3])
pyo.plot(fig)

'temp-plot.html'

In [8]:
iris=pd.read_csv("iris.csv")

In [9]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [12]:
iris["class"].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [17]:
x1=iris.petal_length[iris["class"]=='Iris-setosa']
x2=iris.petal_length[iris["class"]=='Iris-versicolor']
x3=iris.petal_length[iris["class"]=='Iris-virginica']

In [18]:
data=[x1,x2,x3]
labels=list(iris["class"].unique())
fig=ff.create_distplot(data,labels,bin_size=[0.2,0.2,0.2])
pyo.plot(fig)

'temp-plot.html'